body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Sans-serif;
    flex-direction: column; /* Stack items vertically */
}

.quiz-container {
    text-align: center;
    max-width: 400px;
    font-size: 20px;
    border: 5px solid lavender;
    padding: 20px; /* Adjust padding as needed */
    margin-bottom: 20px; /* Add margin between the two containers */
}

.header-container {
    text-align: center;
    max-width: 400px;
    padding: 20px; /* Adjust padding as needed */
    margin-bottom: 20px; /* Add margin between the two containers */
}

input {
    font-size: 25px;
    padding: 10px;
    margin: 30px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
}

button {
    background-color: lavender;
    font-size: 20px; /* Adjust font size as needed */
    margin: 15px; /* Adjust margin as needed */
    padding: 15px; /* Adjust padding as needed */
}
