body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Circular', sans-serif; /* Use a round font like Circular */
    flex-direction: column;
    background-image: url('images/background.png');
    background-size: cover;
}

#question {
    font-weight: bold;
    font-size: 20px;
}

.score {
    font-family: Sans-serif;
    font-size: large;
}

.main-container {
    border: 1px solid lightgray;
    margin: 5px; /* Adjust margin to control spacing from the edges */
    padding: 5px; /* Adjust padding to control spacing from the edges */
    background-color: #fff;
    border-radius: 20px;
}

.quiz-container {
    text-align: center;
    width: 800px; /* Set a fixed width */
    height: 400px; /* Set a fixed height */
    overflow: auto; /* Overflow to enable scrolling if content exceeds the set height */
    font-size: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

.header-container {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
   
}

h1 {
    align-self: center; /* Center the h1 element within the flex container */
    font-size: 30px; /* Adjust the font size if needed */
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    align-items: center;
}

button {
    font-family: 'Circular', sans-serif; 
    background-color: #E9DAFF;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    width: auto; /* Remove fixed width */
    min-width: 100px; /* Set a minimum width for the buttons */
    height: auto; /* Remove fixed height */
    min-height: 40px; /* Set a minimum height for the buttons */
    border: 2px solid lightgray;
    border-radius: 10px;
}

#next-btn,
#hint-btn {
    font-family: 'Circular', sans-serif; 
    background-color: #B7AACB;
    font-size: 16px;
    color: white;
    padding: 10px;
    margin: 5px;
    width: auto; /* Remove fixed width */
    min-width: 80px; /* Set a minimum width for the buttons */
    height: auto; /* Remove fixed height */
    min-height: 30px; /* Set a minimum height for the buttons */
    border-radius: 10px;
    border: 2px solid lightgrey;
}



#hint-text {
    font-weight: bold;
    font-size: 15px;
}

#game-over-container{
    height: 400px;
    width: 800px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .quiz-container {
        width: 90%;
        height: auto;
    }

    button {
        width: 100%;
    }
}
