body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Sans-serif;
    flex-direction: column;
}

.score {
    font-family: Sans-serif;
    font-size: large;
}

.quiz-container {
    text-align: center;
    max-width: 400px;
    font-size: 20px;
    border: 5px solid lavender;
    padding: 20px;
    margin-bottom: 20px;
}

.header-container {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    background-color: lavender;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

#hint-text {
    font-weight: bold;
    font-size: 15px;
}
